.virtual-scroll-wrap {
  width: 50%;
  margin: auto;
  min-width: 380px
}

.load-more {
  margin-top: 1rem;
}

cdk-virtual-scroll-viewport {
  height: 60vh;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
  }

  li:hover {
    background-color: #f5f9ff;
    cursor: pointer;
  }

  .thumbnail-wrap {
    width: 100px;
    display: inline-block;

    img {
      height: 65px;
      margin: 18px 14px;
    }
  }

  .info-wrap {
    vertical-align: top;
    display: inline-block;

    h4 {
      margin: 0 0 5px 0;
    }
    p {
      margin: 5px 0 0 0 ;
    }
  }
}

