<app-navbar></app-navbar>
<div class="container">
  <ng-container *ngIf="books.length; else emptyWishList">
    <h1>Wishlist</h1>
    <app-book-list [books]="books" [withButton]="true" [buttonValue]="'Remove'"
      (bookBtnClick)="removeFromWishList($event)" (bookSelected)="openModal($event)"></app-book-list>
  </ng-container>
</div>

<ng-template #emptyWishList>
  <p-card>
    <h3>Your wishlist is empty, you can add books from the search page</h3>
  </p-card>
</ng-template>

<app-book-modal [value]="selectedBook" [showModal]="showModal" [showAddToWishList]="false" (hide)="closeModal()">
</app-book-modal>
